@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are U  Sure To Delete This Employee</h1>

<br />

<form asp-action="Delete">
	<div asp-validation-summary="All"></div> @*List The Error Messages from ErrorModel*@

	<partial name="PartialView/DeleteDetailsEmployeePartialView" />
	<input type="hidden" asp-for="ImageName"/>
	<input type="submit" value="Dlete" class="btn btn-danger" />
	<a asp-action="Index" class="btn btn-secondary"> Cancel</a>
</form>

